{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
This is the Home Page
{% endblock %}

{% block title %}
   Online School Store PVT LTD
{% endblock %}


{% block content %}

<br>
<div class="text-left">
    <a class="btn btn-primary btn-lg" href="{% url 'store:login' %}">
        Click here to <u>Login</u>
    </a>
</div>
<br>

<div>
  <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}"  alt="our products">  <!-- height="500px;" width="1350px;" -->
</div>
<br>
<div>
  <h1 class="text-center my_title">Online School Store</h1>
  <p class="text-justify">
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
  </p>
</div>

{% endblock %}
